<% if obj.errors.any? %>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">The folowwing errors prevented being saved <%= obj.class.name.downcase %> </h4>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>